*{
   font-family: 'Times New Roman', Times, serif;
}
ul{
   list-style: none;
}
/* CSS LOGIN-BAR */
.top-bar {
   background:#000;
   font-size: 12px;
   font-weight: 700;
   padding-top:10px;
   padding-bottom: 0px;
   padding-right: 10px;
   display:flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.top-bar ul li{
   display: inline;
}

.top-bar ul p{
   display:inline;
}

.top-bar ul li a:link{
   text-decoration:none;
}

.top-bar ul{
   color:#FFF;
}

.top-bar ul li a:visited
{
   color: #FFF;
   text-decoration: none;
}

.login a:hover{
   padding-right: 30px;
   font-weight: 100;
}
/* CSS LOGIN-BAR */


/*CSS NAVIGATION */
.shop-logo{
   margin: 0px;
   text-align: left;
   padding-left: 20px;
}
.nav-style-out{
   padding-top: 10px;
   padding-left: 0px;
}

.nav-style-out{
   position:fixed;
   background:#FFF;
   color:#000;
   width:-15px;
   height:100%;
}
.nav-style-out .mainnav{
   padding-top:10px;
   padding-bottom:50px;
   color:#000
}
.list ul li a:link{
   text-decoration: none;
   font-weight: 700;
   color:#000;
   padding-bottom: 100px;
}
.list ul li{
   padding-bottom: 10px;
}
.list ul li a:visited{
   color:#000;
}
/*CSS NAVIGATION */


/* CSS MAIN */
.main-theme{
   text-align: center;
   width: 100%;
}
#home-slider img {
   text-align: left;
   padding-bottom: 20px;  
}
.all-product{
   text-align: left;
   margin:20px;
   font-weight: bold;
}
.new-arrival {
   text-align: center;
   text-decoration: none;
   padding-left: 100px;
   padding-right: 100px;
   margin: 20px 0 55px 0;
}

.new-arrival a.hover{
   font-size: 13;
   color:#000;
}

.new-arrival a:link{
   text-decoration: none;
   color:#000;
}
.new-arrival a:visited{
   color:#000;
}
.next-page{
   font-size: 20px;
   font-weight: bold;
}
.next-page a{
   text-decoration: none;
   color:#696969;
   padding-left: 25px;
   padding-right:25px;
}
.next-page a:hover{
   color:#000;
}
/* CSS MENU */
#menu{
   text-align: justify;
   background: #D3D3D3;
   width:100%;
   padding-left:5px;
   margin-bottom: 60px;
   
}
#menu ul li{
   display:inline;   
}

#menu ul li a:link{
   text-decoration:none; 
   color:#000;
}

#menu ul li a:visited{
   color:#000;
}

.contain-fluid {
   padding-bottom:10px;
   height:10px;
}
.link {
   color:darkgray;
   text-decoration:none;
}
.link a:hover{
   color:none;
}

.product-block{
   float:left
}
/* CSS MAIN */


/* CSS SELECTOR */
.container-chuaao{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   width: 1300px;
   margin-top: 20px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 50px;
   padding-right: 15px;
}
.pro-sales{
   top: 10px;
   left: 10px;
   color: #f94c43;
}
.pro-sales{
   position: absolute;
   font-size: 12px;
   line-height: 1;
   padding: 5px 10px;
   font-weight: bold;
   z-index: 9;
   background: #fff;
   border: 1px solid #ededed;
}
.pro-loop {
   display: block;
   position: relative; 
   /* overflow:hidden; */
   height: 100%;
   margin-bottom: 110px;
   padding-right: 200px;
}
.product-img{
   height:300px;
   background-color: transparent;
   width: 300px;
   height: 300px;
   perspective: 1000px;
}
.product-img-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
 }
 
.product-img:hover .product-img-inner {
   transform: rotateY(180deg);
}
 
.product-img-front, .product-img-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}
 
.product-img-front {
   background-color: #bbb;
   color: black;
}
 
.product-img-back {
   background-color:#FFF;
   color: white;
   transform: rotateY(180deg);
}

.product-namedetail h3 a{
   font-size: 15px;
   line-height: 10px;
   overflow: hidden;
   font-weight:bold;
}

/* CSS SELECTOR */


/* CSS BUTTON */
.action_btn button{
   background-color: #696969;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   font-weight:bold;

}
.action_btn button:hover{
   transform:scale(0.9)
}
.action_btn{
   visibility:hidden;
   opacity:0;
}
.product-img:hover .action_btn{
   visibility:visible;
   opacity:100;
   transition:0.5s;
}
.product-img:hover .action_btn{
   margin-top: -58px;
} 
/* CSS BUTTON */


/*CSS FOOTER */
.footer .fter-container .end{
   text-align:center ;
}
#footer-content p{
   margin: 10px;
   font-size: 13px;
   line-height: 15px;
}
.end h4{
   color:#000;
   font-weight: 500;
   font-style: italic;

}

.main-theme , footer {
   padding-left: 200px;  
}
#fter-container{
   position:relative;   
   display:flex;
   width:1300px;
   padding-left: 0px;
   text-align: center;
}

.end{
   width:450px;
   margin:30px;
   color:#000;
}
/* CSS FOOTER */

